@import url('https://fonts.googleapis.com/css2?family=VT323&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
}

h1,
h2 {
  font-family: 'VT323', monospace;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
}

::-moz-selection {
  color: red;
  background: yellow;
}

::selection {
  color: #02fad5;
  background: #390480;
}