.single-color-selection-div,
.color-range-selection-div,
.sell-dragon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
}

select, input {
    display: block;
    margin-top: 0.1rem;
    width: 150px;
    color: white;
    background-color: rgb(35, 15, 61);
    border: 1px solid rgb(118, 118, 118);
}

.element-and-information input {
    width: 100%;
}

.element-and-information select {
    width: 100%;
}

label {
    font-size: 0.8rem;
}

.selected-range-first {
    font-size: 0.8rem;
    height: 1rem;
    padding: 0 0.25rem;
    margin-top: 0.25rem;
    border: 1px solid black;
    cursor: pointer;
}

.selected-range-last {
    font-size: 0.8rem;
    height: 1rem;
    padding: 0 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid black;
    border-top: 0;
    cursor: pointer;
}

.selected-element-div {
    font-size: 0.8rem;
    height: 1rem;
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    border: 1px solid #767676;
    background-color: rgb(35, 15, 61);
    cursor: pointer;
}

.search-form-title {
    margin: 0.5rem 1rem;
    text-decoration: overline;
}

a:visited {
    color: white;
}

a:hover {
    color: cyan;
}

.text-input {
    padding: 0.5rem;
}

.search-submit {
    color: white;
    background-color: rgb(35, 15, 61);
    border: 1px dashed cyan;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.sell-owner input {
    width: 100%;
}