.preview-frame {
    position: relative;
    width: 360px;
    height: 360px;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    border-radius: 5%;
    padding: 0.5rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /* -webkit-box-shadow: inset 0px 0px 100px -55px rgb(11, 78, 247);
    -moz-box-shadow: inset 0px 0px 100px -55px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 100px -55px rgba(66, 68, 90, 1); */
}

.flexit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

form {
    margin: 2rem;
    margin-top: 3rem;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    border-radius: 5%;
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-bottom: 9.7rem;
}

.preview-frame img {
    filter: drop-shadow(0 0 5px #1a1a1a);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.search-title {
    font-size: 3.5rem;
    margin: 1rem 0;
}

.preview-title {
    margin: 0.5rem 1rem;
    text-align: left;
}