.single-color-selection {
    border: 1px solid black;
    padding: 1rem;
}

.selected-color-div {
    width: 50%;
    padding: 0.25rem;
    margin: 0.25rem 0;
    border-radius: 5%;
    cursor: pointer;
}