.navbar-link-div {
    padding: 1rem;
    min-width: 15vw;
    margin: 1rem;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}

#navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}